<!DOCTYPE html>
<html>
<head>
<title>Depot</title>
<%= stylesheet_link_tag    "application", :media => "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">
<div id="banner">
  <h1><%= @page_title || "Pragmatic Bookshelf" %></h1>
</div>
<div id="columns" class="container-fluid">
  <div class="row-fluid">
    <div id="nav-bar" class="span1">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="">Questions</a></li>
        <li><a href="">News</a></li>
        <li><a href="">Contact</a></li>
      </ul>
    </div>
    <div id="main" class="span11 row-fluid">
      <div id="mainPanel"class="span8">
        <%= yield %>
      </div>
      <div id="cart" class="span4 row-fluid">
        <%= render @cart %>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
</body>
</html>
