<h1>Listing products</h1>
<div class="row-fluid">
<table class="products span8 table table-striped table-bordered">
<% @products.each do |product| %>
  <tr>
    <td><%= image_tag product.image_url, class: 'img-rounded' %></td>
    <td class="list_description">
      <dl>
        <dt><%= product.title %></dt>
        <dd><%= strip_tags(product.description) %></dd>
      </dl>
    </td>
    <td><%= product.price_string %></td>
    <td><%= link_to 'Show', product, {:class=>"btn"} %>
    <%= link_to 'Edit', edit_product_path(product), {:class=>"btn"} %>
    <%= link_to 'Destroy', product, {:class=>"btn"}, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
</div>
<div class="row-fluid">
  <%= link_to '<i class="icon-plus"></i> New Product'.html_safe, new_product_path, {:class=>"btn"} %>
</div>
