<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<h1>Your Pragmatic Catalog</h1>
<div class="row-fluid">
  <div class="store span8">
    <% @products.each do |product| %>
      <div class="entry">
        <%= image_tag product.image_url, class: 'img-rounded' %>
        <h3><%= product.title %></h3>
        <p><%= sanitize product.description %></p>
        <div class="price-line">
          <span class="price"><%= product.price_string %></span>
        </div>
      </div>
    <% end %>
  </div>
</div>
